<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Interface.Properties.Settings.proyectoConnectionString"
            connectionString="server=localhost;user id=root;database=proyecto"
            providerName="MySql.Data.MySqlClient" />
        <add name="Interface.Properties.Settings.proyecto_conectar" connectionString="server=localhost;user id=root;password=P0k3p9rk;database=proyecto"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>